<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="signup.css">
</head>
<body>
 <style>
  * {box-sizing: border-box}
 body{
   font-family: 'Noto Sans JP', sans-serif;
 }
 h1, label{
   color: DodgerBlue;
 }
   input[type=text], input[type=password] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   width:100%;
   resize: vertical;
   padding:15px;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
input[type=text]:focus, input[type=password]:focus {
   outline: none;
 }
hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }
button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
 }
button:hover {
   opacity:1;
 }
.cancelbtn {
   padding: 14px 20px;
   background-color: #f44336;
 }
.signupbtn {
   float: left;
   width: 100%;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
.container {
   padding: 16px;
 }
.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }

 </style> 

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="image-container"> 
        <img src="/img/15_generated.jpg" class="" alt="Logo" max-width="100%" height="50px" style="border-radius: 50%;">
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a id="danhmuc" class="tab-binhthuong" href="/coso" >Kho sản phẩm</a></li>
        <!-- <li><a id="captk" class="tab-binhthuong" href="test.html" >Cấp tài khoản</a></li> -->
        
        <li><a id="qlsp" class="tab-binhthuong" href="/coso/xuatsp" >Xuất sản phẩm cho đại lý</a></li>
        <li><a id="tksp_cssx" class="tab-binhthuong" href="/coso/thongke" >Thống kê sản phẩm</a></li>
        <li><a id="sptv_cssx" class="tab-binhthuong" href="/coso/sptrave" >Sản phẩm trả về</a></li>
    </div>
  </div>
</nav>

<form method="POST" action="/coso/kho">
    <div class="container">
      <h1>Thêm sản phẩm vào kho:</h1>
    
      <div class="col-sm-6">
        <label for="makho">Mã sản phẩm</label>
        <input type="text" class="form-control" placeholder="Mã sản phẩm kho" id="makho" name="makho">
      </div>
      
      <div class="col-sm-6">
        <label for="tensp">Tên sản phẩm</label>
        <input type="text" class="form-control" placeholder="Tên sản phẩm" id="tensp" name="tensp">
      </div>

      <div class="col-sm-6">
        <label for="diachikho">Địa chỉ kho</label>
        <input type="text" class="form-control" placeholder="Địa chỉ kho" id="diachikho" name="diachikho">
      </div>
  
  </div>
  <p>

  </p>
  <div class="themsp container">
    <button type="submit" class="btn btn-success clearfix">Thêm</button>
  </div>
 
</form>  
  <div class="clearfix bottomfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 navbar-fixed-bottom" style="margin-top:auto;">
          <span class="copyright">Copyright &copy; 2022, Công ty BigCorp</span>
        </div>
      </div>
    </div>
  </div>


</body>
</html>