{{!-- <div class="w3-container w3-content" style="max-width:390px" id="contact">
      
      <div class="w3-row w3-padding-32">
        <div class="w3-col m12 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Hanoi, VN<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +0123456789<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>
      </div>
      <!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
      
    </div> --}}